@using GOLDEN_MANAGER.Models
@model IEnumerable<Bonus>

<div class="right-container">
    <div class="well well-lg my-well-container">

        <button type="button" class="btn btn-primary my-left-btn my-string string-btn" data-toggle="modal" data-target="#addBonusModal">Add a new bonus</button>

        @foreach (var bonusItem in Model)
        {
            <div class="panel panel-primary my-panel-for-progress">
                <div class="panel-heading my-string string-btn">@bonusItem.bonus_name</div>
                <div class="panel-body">

                    <div class="horizontal_container" style="margin-bottom: 10px">
                        <div class="right my-string my-table-string">
                            @bonusItem.bonus_points_must_achieve
                        </div>
                        <div class="left my-string my-table-string">
                            Points to achive:
                        </div>
                    </div>

                    <div class="horizontal_container">
                        <div class="right my-string my-table-string">
                            @bonusItem.bonus_description
                        </div>
                        <div class="left my-string my-table-string">
                            Description:
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>