@using GOLDEN_MANAGER.Models
@model IEnumerable<GOLDEN_MANAGER.Models.Task>

<div class="right-container">
    <div class="well well-lg my-well-container">
        
        <button type="button" class="btn btn-primary my-left-btn my-string string-btn" data-toggle="modal" data-target="#addTaskModal">Add a new task</button>
        <button type="button" class="btn btn-primary my-left-btn my-string string-btn" data-toggle="modal" data-target="#deleteTaskModal">Delete</button>
        
        @foreach (var taskItem in Model)
        {
            <div class="panel panel-primary my-panel-for-progress">
                <div class="panel-heading my-string string-btn">@taskItem.task_name</div>
                <div class="panel-body">

                    <div class="horizontal_container" style="margin-bottom: 10px">
                        <div class="right my-string my-table-string">
                            @taskItem.task_priority
                        </div>
                        <div class="left my-string my-table-string">
                            Priority:
                        </div>
                    </div>

                    <div class="horizontal_container" style="margin-bottom: 10px">
                        <div class="right my-string my-table-string">
                            @taskItem.task_achiv_points
                        </div>
                        <div class="left my-string my-table-string">
                            Points for achive:
                        </div>
                    </div>

                    <div class="horizontal_container">
                        <div class="right my-string my-table-string">
                            @taskItem.task_description
                        </div>
                        <div class="left my-string my-table-string">
                            Description:
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
</div>