
@{
    ViewBag.Title = "RegistrationView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{}

@section Body 
{ 
<div class="panel panel-default registration-panel">
    <div class="panel-body">

        <form>
            <div class="form-group">
                <label for="email">Name:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Register me!</button>
        </form>
    </div>
</div>
}
